In [ ]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Datasets
#Change the path and filenames accordingly
current_directory = '/content/drive/MyDrive/Fads_spring/'
dataset_filename = 'Recoded_EMVowelData_Jan2025.csv'
geographic_dataset = 'EMDemographics_Geocoded.csv'
dataset_filepath = os.path.join(current_directory, dataset_filename)
df = pd.read_csv(dataset_filepath)
df.head()

<ipython-input-3-968f16c4717c>:6: DtypeWarning: Columns (32,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(dataset_filepath)

,deeeeeeeeedddddddddddddddddddd,X,speaker,style,pseudonym,voicetype,vowel,stress,pre_word,word,...,F2.50.,F1.65.,F2.65.,F1.80.,F2.80.,nFormants,vowel.class_old,vowel.class,Unnamed: 49,new.vowel.class
0,84504.0,84516.0,EM-02-35,FS,EM-02-35-CindyMindy-01-07-21_1_deepgramcorrected,Low,AY,1,THAT'S,FINE,...,1534.6,452.3,1713.8,390.9,1832.0,4.0,PRICE,PRICE,NaN,PRICE
1,84505.0,84517.0,EM-02-35,FS,EM-02-35-CindyMindy-01-07-21_1_deepgramcorrected,Low,OW,1,YEAH,NO,...,1306.1,790.4,1409.9,792.2,1447.8,4.0,GOAT,BOAT,NaN,BOAT
2,84506.0,84518.0,EM-02-35,FS,EM-02-35-CindyMindy-01-07-21_1_deepgramcorrected,Low,AA,1,NO,PROBLEM,...,1351.6,550.1,1154.7,550.1,1154.7,6.0,LOT,LOT,NaN,LOT
3,84507.0,84519.0,EM-02-35,FS,EM-02-35-CindyMindy-01-07-21_1_deepgramcorrected,Low,AW,1,TWO,THOUSAND,...,1350.5,612.6,1341.6,608.1,1341.3,5.0,MOUTH,MOUTH,NaN,MOUTH
4,84508.0,84520.0,EM-02-35,FS,EM-02-35-CindyMindy-01-07-21_1_deepgramcorrected,Low,IY,1,NaN,FEMALE,...,2490.0,475.8,2488.3,479.0,2434.8,5.0,FLEECE,FLEECE,NaN,FLEECE

In [ ]:
geo_df = pd.read_csv(os.path.join(current_directory, geographic_dataset))
geo_df.head()

,NewQuestions,corpus,speaker,pseudonym,age,BirthYear,BirthDecade,BirthGeneration,gender,race,...,SouthernParent,SouthernGrandparent,SouthernHeritage,occupation,EducScale,OccScale,ParentClassScale,ClassScale,Latitude,Longitude
0,no,eastmass,EM-01-01,joan_tasker,60.0,1960,1960,Boomer,female,black,...,no,no,no,accountant,3,3.0,NaN,6.0,42.332869,-71.0449946
1,no,eastmass,EM-01-02,rena_gentry,19.0,2000,2000,GenZ,female,black,...,NaN,NaN,NaN,student,3,NaN,NaN,NaN,42.162281,-71.0448531
2,no,eastmass,EM-01-03,carol_wienstein,53.0,1966,1960,GenX,female,black,...,no,no,no,code_enforcement,2,3.0,4.0,5.0,42.301129,-71.0620287
3,no,eastmass,EM-01-04,sandra_masters,43.0,1977,1970,GenX,female,black,...,no,no,no,mental_health_clinician,2,2.0,3.0,4.0,42.340994,-71.1071909
4,no,eastmass,EM-01-05,donna_jones,74.0,1946,1940,Boomer,female,black,...,yes,yes,yes,counselor,1,2.0,3.0,3.0,42.307166,-71.0811608

In [ ]:
geo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   NewQuestions          89 non-null     object
 1   corpus                89 non-null     object
 2   speaker               89 non-null     object
 3   pseudonym             89 non-null     object
 4   age                   88 non-null     float64
 5   BirthYear             89 non-null     int64
 6   BirthDecade           89 non-null     int64
 7   BirthGeneration       89 non-null     object
 8   gender                89 non-null     object
 9   race                  89 non-null     object
 10  ethnicity             89 non-null     object
 11  HomeTown              81 non-null     object
 12  NeighborhoodType      86 non-null     object
 13  county                89 non-null     object
 14  SouthernParent        87 non-null     object
 15  SouthernGrandparent   87 non-null     object
 16  SouthernHeritage      87 non-null     object
 17  occupation            89 non-null     object
 18  EducScale             89 non-null     int64
 19  OccScale              87 non-null     float64
 20  ParentClassScale      82 non-null     float64
 21  ClassScale            87 non-null     float64
 22  Latitude              89 non-null     float64
 23  Longitude             89 non-null     object
dtypes: float64(5), int64(3), object(16)
memory usage: 16.8+ KB

In [ ]:
df.shape

(240178, 51)

In [ ]:
geo_df.shape

(89, 24)



*   **Excluding records of style = "MC"**

In [ ]:
print(df['style'].value_counts())

style
FS    177734
MC     40873
WL     13759
RP      7384
mc       216
rp       212
Name: count, dtype: int64

In [ ]:
df['style'] = df['style'].str.upper()
print(df['style'].value_counts())

style
FS    177734
MC     41089
WL     13759
RP      7596
Name: count, dtype: int64

In [ ]:
df = df[df['style'] != "MC"]
print(df['style'].value_counts())

style
FS    177734
WL     13759
RP      7596
Name: count, dtype: int64

In [ ]:
df.shape

(199089, 51)

*  **Handling naming issue of speaker column**

In [ ]:
print(df['speaker'].nunique())

89

In [ ]:
print('EM-02-07' in df['speaker'].unique())

True

In [ ]:
em_speakers = df[df['speaker'].str.startswith('EM_')]
print(em_speakers['speaker'].unique())

['EM_02-07']

In [ ]:
# Replacing 'EM_02-07' with 'EM-02-07' in the 'speaker' column
df['speaker'] = df['speaker'].replace({'EM_02-07': 'EM-02-07'})

em_speakers = df[df['speaker'].str.startswith('EM_')]
print(em_speakers['speaker'].unique())

[]

In [ ]:
print(len(df['speaker'].unique()))

88

In [ ]:
# Replacing 'EM-02-28' with 'EM-01-02' in the 'speaker' column
df['speaker'] = df['speaker'].replace({'EM-02-28': 'EM-01-02'})

In [ ]:
print(len(df['speaker'].unique()))

87

*  **Merging Datasets**

In [ ]:
merged_df = pd.merge(df, geo_df, on='speaker', how='left')
merged_df.head()

,deeeeeeeeedddddddddddddddddddd,X,speaker,style,pseudonym_x,voicetype,vowel,stress,pre_word,word,...,SouthernParent,SouthernGrandparent,SouthernHeritage,occupation,EducScale,OccScale,ParentClassScale,ClassScale,Latitude,Longitude
0,84504.0,84516.0,EM-02-35,FS,EM-02-35-CindyMindy-01-07-21_1_deepgramcorrected,Low,AY,1,THAT'S,FINE,...,no,no,no,student,3,3.0,4.0,6.0,42.465305,-71.0184938
1,84505.0,84517.0,EM-02-35,FS,EM-02-35-CindyMindy-01-07-21_1_deepgramcorrected,Low,OW,1,YEAH,NO,...,no,no,no,student,3,3.0,4.0,6.0,42.465305,-71.0184938
2,84506.0,84518.0,EM-02-35,FS,EM-02-35-CindyMindy-01-07-21_1_deepgramcorrected,Low,AA,1,NO,PROBLEM,...,no,no,no,student,3,3.0,4.0,6.0,42.465305,-71.0184938
3,84507.0,84519.0,EM-02-35,FS,EM-02-35-CindyMindy-01-07-21_1_deepgramcorrected,Low,AW,1,TWO,THOUSAND,...,no,no,no,student,3,3.0,4.0,6.0,42.465305,-71.0184938
4,84508.0,84520.0,EM-02-35,FS,EM-02-35-CindyMindy-01-07-21_1_deepgramcorrected,Low,IY,1,NaN,FEMALE,...,no,no,no,student,3,3.0,4.0,6.0,42.465305,-71.0184938

* **Null values handling**

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199089 entries, 0 to 199088
Data columns (total 74 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   deeeeeeeeedddddddddddddddddddd  108866 non-null  float64
 1   X                               198751 non-null  float64
 2   speaker                         199089 non-null  object
 3   style                           199089 non-null  object
 4   pseudonym_x                     195501 non-null  object
 5   voicetype                       199089 non-null  object
 6   vowel                           199086 non-null  object
 7   stress                          199089 non-null  int64
 8   pre_word                        156114 non-null  object
 9   word                            199089 non-null  object
 10  fol_word                        133729 non-null  object
 11  F1                              199089 non-null  float64
 12  F2                              199089 non-null  float64
 13  F3                              196935 non-null  float64
 14  F1_LobanovNormed_unscaled       199089 non-null  float64
 15  F2_LobanovNormed_unscaled       199089 non-null  float64
 16  B1                              199089 non-null  float64
 17  B2                              199089 non-null  float64
 18  B3                              196935 non-null  float64
 19  t                               199089 non-null  float64
 20  beg                             199089 non-null  float64
 21  end                             199089 non-null  float64
 22  dur                             199089 non-null  float64
 23  plt_vclass                      199089 non-null  object
 24  plt_manner                      171534 non-null  object
 25  plt_place                       171575 non-null  object
 26  plt_voice                       171622 non-null  object
 27  plt_preseg                      173208 non-null  object
 28  plt_folseq                      100144 non-null  object
 29  pre_seg                         198484 non-null  object
 30  fol_seg                         198021 non-null  object
 31  context                         199089 non-null  object
 32  vowel_index                     198913 non-null  object
 33  pre_word_trans                  193650 non-null  object
 34  word_trans                      198890 non-null  object
 35  fol_word_trans                  191339 non-null  object
 36  F1.20.                          198957 non-null  float64
 37  F2.20.                          198957 non-null  float64
 38  F1.35.                          199059 non-null  float64
 39  F2.35.                          199059 non-null  float64
 40  F1.50.                          199071 non-null  float64
 41  F2.50.                          199071 non-null  float64
 42  F1.65.                          199001 non-null  float64
 43  F2.65.                          199001 non-null  float64
 44  F1.80.                          198904 non-null  float64
 45  F2.80.                          198904 non-null  float64
 46  nFormants                       199089 non-null  float64
 47  vowel.class_old                 199086 non-null  object
 48  vowel.class                     199086 non-null  object
 49  Unnamed: 49                     1 non-null       object
 50  new.vowel.class                 198787 non-null  object
 51  NewQuestions                    199089 non-null  object
 52  corpus                          199089 non-null  object
 53  pseudonym_y                     199089 non-null  object
 54  age                             197582 non-null  float64
 55  BirthYear                       199089 non-null  int64
 56  BirthDecade                     199089 non-null  int64
 57  BirthGeneration                 199089 non-null  object
 58  gender                          199089 non-null  object
 59  race                            199089 non-null  object
 60  ethnicity                       199089 non-null  object
 61  HomeTown                        186812 non-null  object
 62  NeighborhoodType                194705 non-null  object
 63  county                          199089 non-null  object
 64  SouthernParent                  194879 non-null  object
 65  SouthernGrandparent             194879 non-null  object
 66  SouthernHeritage                194879 non-null  object
 67  occupation                      199089 non-null  object
 68  EducScale                       199089 non-null  int64
 69  OccScale                        194879 non-null  float64
 70  ParentClassScale                183435 non-null  float64
 71  ClassScale                      194879 non-null  float64
 72  Latitude                        199089 non-null  float64
 73  Longitude                       199089 non-null  object
dtypes: float64(30), int64(4), object(40)
memory usage: 112.4+ MB

In [ ]:
#Extracting required columns
f1_columns = [col for col in merged_df.columns if 'F1' in col]
f2_columns = [col for col in merged_df.columns if 'F2' in col]
df_subset = merged_df[['speaker', 'style', 'vowel','vowel.class'] + f1_columns + f2_columns + ['new.vowel.class','Latitude','Longitude','BirthYear','HomeTown']]

df_subset.head()

,speaker,style,vowel,vowel.class,F1,F1_LobanovNormed_unscaled,F1.20.,F1.35.,F1.50.,F1.65.,...,F2.20.,F2.35.,F2.50.,F2.65.,F2.80.,new.vowel.class,Latitude,Longitude,BirthYear,HomeTown
0,EM-02-35,FS,AY,PRICE,695.8,0.823906,625.5,639.4,657.7,452.3,...,1525.9,1452.4,1534.6,1713.8,1832.0,PRICE,42.465305,-71.0184938,2000,NaN
1,EM-02-35,FS,OW,BOAT,657.1,0.562093,644.1,648.5,724.3,790.4,...,1299.4,1299.1,1306.1,1409.9,1447.8,BOAT,42.465305,-71.0184938,2000,NaN
2,EM-02-35,FS,AA,LOT,612.8,0.262394,624.3,624.3,601.0,550.1,...,1328.3,1328.3,1351.6,1154.7,1154.7,LOT,42.465305,-71.0184938,2000,NaN
3,EM-02-35,FS,AW,MOUTH,727.7,1.039716,727.7,727.5,693.8,612.6,...,1402.7,1393.9,1350.5,1341.6,1341.3,MOUTH,42.465305,-71.0184938,2000,NaN
4,EM-02-35,FS,IY,FLEECE,428.9,-0.981726,416.3,427.2,443.3,475.8,...,2365.0,2453.9,2490.0,2488.3,2434.8,FLEECE,42.465305,-71.0184938,2000,NaN

In [ ]:
df_subset.shape

(199089, 23)

In [ ]:
df_subset.isnull().sum()

speaker                          0
style                            0
vowel                            3
vowel.class                      3
F1                               0
F1_LobanovNormed_unscaled        0
F1.20.                         132
F1.35.                          30
F1.50.                          18
F1.65.                          88
F1.80.                         185
F2                               0
F2_LobanovNormed_unscaled        0
F2.20.                         132
F2.35.                          30
F2.50.                          18
F2.65.                          88
F2.80.                         185
new.vowel.class                302
Latitude                         0
Longitude                        0
BirthYear                        0
HomeTown                     12277
dtype: int64

In [ ]:
#Checking for nulls in style column.
df_subset[df_subset['style'].isnull()]

Empty DataFrame
Columns: [speaker, style, vowel, vowel.class, F1, F1_LobanovNormed_unscaled, F1.20., F1.35., F1.50., F1.65., F1.80., F2, F2_LobanovNormed_unscaled, F2.20., F2.35., F2.50., F2.65., F2.80., new.vowel.class, Latitude, Longitude, BirthYear, HomeTown]
Index: []

[0 rows x 23 columns]

In [ ]:
temp = df_subset[df_subset['Latitude'].isnull()]

In [ ]:
temp.head()

Empty DataFrame
Columns: [speaker, style, vowel, vowel.class, F1, F1_LobanovNormed_unscaled, F1.20., F1.35., F1.50., F1.65., F1.80., F2, F2_LobanovNormed_unscaled, F2.20., F2.35., F2.50., F2.65., F2.80., new.vowel.class, Latitude, Longitude, BirthYear, HomeTown]
Index: []

[0 rows x 23 columns]

In [ ]:
temp['speaker'].value_counts()

Series([], Name: count, dtype: int64)

In [ ]:
geo_df[geo_df['speaker'] == 'EM-02-28']

Empty DataFrame
Columns: [NewQuestions, corpus, speaker, pseudonym, age, BirthYear, BirthDecade, BirthGeneration, gender, race, ethnicity, HomeTown, NeighborhoodType, county, SouthernParent, SouthernGrandparent , SouthernHeritage, occupation, EducScale, OccScale, ParentClassScale, ClassScale, Latitude, Longitude]
Index: []

[0 rows x 24 columns]

In [ ]:
# Drop rows with nulls in 'new.vowel.class'
df_subset = df_subset.dropna(subset=['new.vowel.class'])
df_subset.shape

(198787, 23)

In [ ]:
df_subset.isnull().sum()

speaker                          0
style                            0
vowel                            0
vowel.class                      0
F1                               0
F1_LobanovNormed_unscaled        0
F1.20.                         132
F1.35.                          30
F1.50.                          18
F1.65.                          88
F1.80.                         185
F2                               0
F2_LobanovNormed_unscaled        0
F2.20.                         132
F2.35.                          30
F2.50.                          18
F2.65.                          88
F2.80.                         185
new.vowel.class                  0
Latitude                         0
Longitude                        0
BirthYear                        0
HomeTown                     12265
dtype: int64

In [ ]:
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 198787 entries, 0 to 199088
Data columns (total 23 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   speaker                    198787 non-null  object
 1   style                      198787 non-null  object
 2   vowel                      198787 non-null  object
 3   vowel.class                198787 non-null  object
 4   F1                         198787 non-null  float64
 5   F1_LobanovNormed_unscaled  198787 non-null  float64
 6   F1.20.                     198655 non-null  float64
 7   F1.35.                     198757 non-null  float64
 8   F1.50.                     198769 non-null  float64
 9   F1.65.                     198699 non-null  float64
 10  F1.80.                     198602 non-null  float64
 11  F2                         198787 non-null  float64
 12  F2_LobanovNormed_unscaled  198787 non-null  float64
 13  F2.20.                     198655 non-null  float64
 14  F2.35.                     198757 non-null  float64
 15  F2.50.                     198769 non-null  float64
 16  F2.65.                     198699 non-null  float64
 17  F2.80.                     198602 non-null  float64
 18  new.vowel.class            198787 non-null  object
 19  Latitude                   198787 non-null  float64
 20  Longitude                  198787 non-null  object
 21  BirthYear                  198787 non-null  int64
 22  HomeTown                   186522 non-null  object
dtypes: float64(15), int64(1), object(7)
memory usage: 36.4+ MB

In [ ]:
# Check for non-float values in 'Longitude' column
non_float_values = df_subset[~df_subset['Longitude'].astype(str).str.replace('.', '', 1).str.isdigit()]['Longitude'].unique()
non_float_values

array(['-71.0184938', '-71.0442995', '-70.3211692', '-71.1178267',
       '-71.0757371', '-71.3118269', '-71.0449946', '-71.0448531',
       '-71.0620287', '-71.1071909', '-71.0811608', '-71.3263253',
       '-71.087859', '-70.8772451', '-71.1867993', '-71.1850523',
       '-71.1320302', '-70.9063805', '-71.2791497', '-70.8971046',
       '-71.0094653', '-71.111566', '-70.9748155', '-71.4030911',
       '-71.1429157', '-71.0845953', '-70.9470754', '-71.0818113',
       '-71.1253373', '-71.0810667', '-71.4580815', '-70.951191',
       '-71.3352222', '-71.4378492', '-71.2739514', '-71.1913348',
       '-71.0991275', '-71.1033003', '-71.1178911', '-71.6130076',
       '-71.3614789', '-70.8692233', '-71.0845504', '-71.5464306',
       '-71.1314426', '-71.0454645', '-70.8811725', '-70.9410356',
       '-71.068731', '-71.1559917', '-71.1125269', '-71.1009029',
       '-71.1747435', '-71.1450153', '-71.072105', '-71.093483',
       '?71.049124', '-71.1455508'], dtype=object)

In [ ]:
# Issue fix
df_subset['Longitude'] = df_subset['Longitude'].replace({'?71.049124': -71.049124})

In [ ]:
# Issue fix
# Convert the 'Longitude' column to numeric, coercing errors to NaN
df_subset['Longitude'] = pd.to_numeric(df_subset['Longitude'], errors='coerce')

In [ ]:
# Save the df_subset DataFrame to a CSV file in your Google Drive
#Change the path accordingly
df_subset.to_csv('/content/drive/MyDrive/Fads_spring/BBS_pre-processed_final.csv', index=False)

* **Analysing the final dataset**

In [ ]:
df_subset['new.vowel.class'].value_counts()

new.vowel.class
KIT         26591
PRICE       24506
FACE        16176
DRESS       14367
BOAT        13554
FLEECE      12067
STRUT       10799
GOOSE       10226
BAT          9837
LOT          9201
THOUGHT      7782
MOUTH        6999
PEN          5700
NURSE        5431
BAN          4568
FORCE        3390
START        2375
FOOT         2205
PRIDE        2111
PIN          1880
NORTH        1822
MERRY        1305
COLT         1079
PALM          990
MARY          935
CHOICE        638
SQUARE        495
MARRY         478
CULT          359
TRAP          279
CLOTH         199
NEAR          160
CURE           75
BATH           59
e              27
ay             22
ae             18
owr            16
aw             15
ay1            12
*hr             8
Tuw             7
u               6
o               5
uw              4
ahr             3
STRESS          2
BRIDE           1
SURVIVAL        1
i               1
uwr             1
Name: count, dtype: int64

In [ ]:
df_subset['vowel.class'].value_counts()

vowel.class
KIT         28471
PRICE       26617
DRESS       20067
FACE        16176
BOAT        14633
FLEECE      12067
STRUT       11158
GOOSE       10226
BAT          9837
LOT          9201
THOUGHT      7782
MOUTH        6999
NURSE        5431
BAN          4568
FORCE        3390
START        2375
FOOT         2205
NORTH        1822
MERRY        1305
PALM          990
MARY          935
CHOICE        638
SQUARE        495
MARRY         478
TRAP          279
CLOTH         199
NEAR          160
CURE           75
BATH           59
e              27
ay             22
ae             18
owr            16
aw             15
ay1            12
*hr             8
Tuw             7
u               6
o               5
uw              4
ahr             3
STRESS          2
BRIDE           1
SURVIVAL        1
i               1
uwr             1
Name: count, dtype: int64

In [ ]:
# Group by speaker and new.vowel.class, then count occurrences of 'COLT' and 'CULT'
vowel_counts = df_subset.groupby(['speaker', 'new.vowel.class'])['new.vowel.class'].count().unstack(fill_value=0)

# Rename columns for clarity
vowel_counts = vowel_counts.rename(columns={'THOUGHT': 'COLT_count', 'LOT': 'CULT_count'})

# Count speakers with either COLT or CULT count as zero
zero_count_speakers = vowel_counts[(vowel_counts['COLT_count'] == 0) | (vowel_counts['CULT_count'] == 0)]

print(vowel_counts)
print("\nNumber of speakers with either COLT or CULT count as zero:", len(zero_count_speakers))

new.vowel.class  *hr  BAN  BAT  BATH  BOAT  BRIDE  CHOICE  CLOTH  COLT  CULT  \
speaker
EM-01-01           0   10   34     0    49      0       2      4    10     1
EM-01-02           0   37  101     0   114      0       7      4    17     1
EM-01-03           0   32   78     0   129      0       5      0    11     3
EM-01-04           0   13  121     0   177      0       8      2    25     8
EM-01-05           0   64  110     0   176      0       4      7    19     8
...              ...  ...  ...   ...   ...    ...     ...    ...   ...   ...
EM-03-04           0   38   65     0   107      0       1      1     3     3
EM-03-05           0   12   49     0    64      0       1      1    10     2
EM-03-06           0   27   72     0    80      0       5      0     2     0
EM-03-07           0   26   85     3    87      0       3      1     6     3
EM-03-08           0   36   54     0   118      1       9      0     6     5

new.vowel.class  ...  aw  ay  ay1  e  i  o  owr  u  uw  uwr
speaker          ...
EM-01-01         ...   0   0    0  0  0  0    0  0   0    0
EM-01-02         ...   0   0    0  0  0  0    0  0   0    0
EM-01-03         ...   0   0    0  0  0  0    0  0   0    0
EM-01-04         ...   0   0    0  0  0  0    0  0   0    0
EM-01-05         ...   0   0    0  0  0  0    0  0   0    0
...              ...  ..  ..  ... .. .. ..  ... ..  ..  ...
EM-03-04         ...   0   0    0  0  0  0    0  0   0    0
EM-03-05         ...   0   0    0  0  0  0    0  0   0    0
EM-03-06         ...   0   0    0  0  0  0    0  0   0    0
EM-03-07         ...   0   0    0  0  0  0    0  0   0    0
EM-03-08         ...   0   0    0  0  0  0    0  0   0    0

[87 rows x 51 columns]

Number of speakers with either COLT or CULT count as zero: 0